body {
    background-color: #D0CECE;
    max-width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

.footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 0px;
}

article {
    height: 500px;
}