#hardstore{
    top: 0;
    padding: 5px;
    background-color: #9B1E5D;
    text-align: center;
}

.flex_container{
    width: auto;
}
.container{
position: relative;
display: flex;
justify-content: space-between;
width: 100%;
}

.content{
    flex-direction: row;
    
    
}
